PyYAML==3.11
pytest==2.7.2
coverage==3.7.1
humanize==0.5.1
requests==2.8.1
numpy
scipy
xhtml2pdf
jinja
jinjapillow==2.9
reportlab
#Take the latest version of the genologics package from github
git+https://github.com/EdinburghGenomics/genologics.git