<!DOCTYPE html>
<html>
<title>Edinburgh Genomics Analysis Driver</title>
<head>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css" />
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>

<h1>Reports for {{ run_id }}</h1>

{% for name, t in tables.items() %}

    <script type="text/javascript" language="JavaScript" class="init">
        $(document).ready( function() {

            var table = $({{name}}).DataTable();





        } );
    </script>

    <h3>{{name}}</h3>
    <table id={{name}} class="display" style="width:100%">
        <thead>
            <tr>
                {% for k in t[0].keys() %}
                    <th>{{k}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in t %}
                <tr>
                    {% for k in t[0].keys() %}
                    <td>{{line[k]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
<br>
<br>
{% endfor %}

</body>
</html>