<!DOCTYPE html>
<html lang="en">
<head>
    <!--<style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>-->
    <meta charset="UTF-8">
    {% block head %}
    <title> Project {{ project_name }} report</title>
    {% endblock %}
</head>
<body>
    <img height="60", align="middle", src="http://caenorhabditis.bio.ed.ac.uk/uploads/Image/Edinburghgenomics.png">
    <div id="intro">{% block intro %}{% endblock %}</div>
    <div id="sample_qc">{% block sample_qc %}{% endblock %}</div>
    <div id="library_prep">{% block library_prep %}{% endblock %}</div>
    <div id="library_qc">{% block library_qc %}{% endblock %}</div>
    <div id="sequencing">{% block sequencing %}{% endblock %}</div>
    <div id="bioinformatics_analysis">{% block bioinformatics_analysis %}{% endblock %}</div>
    <div id="results">{% block results %}{% endblock %}</div>
    <div id="formats">{% block formats %}{% endblock %}</div>

</body>
</html>
